@import "bourbon/bourbon";
@import "neat/neat";

html { 
    height: 100%;
    overflow: hidden;
}
body { 

    height: 100%;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    font-family: $helvetica;
    color: #3a4145;
}

.main {

    h1 {
        font-family: $helvetica;
    }
    height: 100%;
}
.pageNav {
    background: #fff;
    height: 50px;
    position: absolute;
    bottom: 0;
    .pagination {
        li {
            margin-top: 20px;
            display: inline-block;
            padding-left: 5px;
        }
    }
}

.categories {
    @include row;
    cursor: pointer;
    input[type="radio"], span.radio {
        vertical-align: baseline;
        padding: 10px;
        font-size: 14px;
    }
    li {
        float: left;
        height: 70px;
        width: 120px;
        background: #fff;
        display: table;
        margin-left: 20px;
        border-bottom: 5px solid rgba(58,65,69,0.3);
        &:nth-child(1) {
            margin-left: 0px;
        }
        &:hover {
            border-bottom: 5px solid rgba(58,65,69,1);
        }
    }
    p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

.traffic {
    @include span-columns(6);
    float: right;

    margin: 0;
    height: 100%;
    overflow: scroll;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }


}

div.list {

   .trafficMessage {
    line-height: 1.3;
    padding: 15px;
    margin: 10px 0;
    background: #fff;
    min-height: 150px;
    width: 85%;
    h2 {
        padding: 0;
        margin: 0;
    }
    .message {
        width: 100%;
    }
   }
}


#map-canvas {
    @include span-columns(6);
    float: left;

    height: 100%;
.infoBox {
    @include outer-container;
    position: relative;

    span.subcategories, span.category {
        display: block;
        font-family: $helvetica;
        font-weight: bold;
        font-size: 18px;
    }

    span.category {
        font-size: 20px;
    }

    span.date {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        font-style: italic;
    }
}
}


