body {
    width: 100%;
    padding: 50px;
    background: #bcffa0;
}

.button {
    background: #fafafa;
    height: 20px;
    padding: 10px;
    font-size: 100%;
    clear: both;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}
.header a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
h2 {
    font-size: 35px;
}
div.producer {
    width: 30%;
    height: 100%;
    background: #fff;
    padding: 50px;
    margin-bottom: 20px;
}

div.producer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
