

.message_container {
        border: 1px solid black;
        padding: 8px;
        background-color: #DDD;
    }


#mess_p_mess {
    width: 100%; height: 250px; overflow-y: scroll !important; border: solid 3px black; padding: 5px;
}

#mess_p_headline {
    font-family: 'Wellfleet', cursive;
}