@import "/Users/jensaronsson/Sites/webbteknik/Projekt/public/css/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "/Users/jensaronsson/Sites/webbteknik/Projekt/public/css/neat/app/assets/stylesheets/_neat.scss";

body {
  background: #fff;
  font-family: $helvetica;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

header {

  text-align: center;
  color: #3a4145;
  h1 {
    padding: 15px;
    margin: 0;
    font-size: em(80);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  span.google-login {
    padding: em(20);
    display: block;
    font-style: italic;
  }

  .inner {
    margin-top: 15%;
    margin-bottom: 5%;
    border-bottom: 1px;
  }
}

.profilepic {
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

.btn-naked {
  background: none;
  border: none;
}


.has-dropdown {
  &:hover > .dropdown {
    display: block;
  }
}

.dropdown {
  li a {
    text-align: center;
  }

}

.profilepicker {
  text-decoration: underline;
  background: #007ba1;
}
ul.chart-data {

  .chart-legend {
    list-style-type: none;

    &:before {
      display: block;
      background: attr(href);
      padding: 1px;
      height: 30px;
      width: 30px;
      content: "";

    }
  }

}

