<h2>Insights - check your social status</h2>
<a href="/#/logout">Logout</a>
<span>Insights on </span>
<select ng-model="selectedProfile" ng-change="fetchReport()" ng-options="item.id as item.name for item in profiles">
<option value="">Select Profile</option>
</select>

{{ profile.websiteUrl }}
<select ng-model="selectedPath" ng-change="checkSocialStatus()" ng-show="results"  ng-options="url as url.path for url in results.paths">
    <option value="">Select url</option>
</select>



<div class="data" ng-show="resultData">
    <div class="analytics">
        <div class="totalVisits">
            {{ results.totalVisits }}
        </div>
    </div>
    <div class="social">
        <div class="facebook">

            Likes : {{ results.social.facebook.likes }}
            Shares : {{ results.social.facebook.shares }}
        </div>

        <div class="twitter">
            Tweets : {{ results.social.twitter.count }}
        </div>
    </div>
</div>