
    <header>
        <div class="inner">
            <h1>Insights</h1>

            <a href="/oauth">
                <img src="/images/Google Signin/Red-signin-Long-base-32dp.png" alt=""/>
            </a>

            <span class="google-login">Sign in using your googling account!</span>
        </div>
    </header>

    <!--<select ng-model="selectedProfile" ng-options="item.accountId as item.title for item in profiles">-->
        <!--<option value="">Select Profile</option>-->
    <!--</select>-->


