

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/#/">Insights</a></h1>
        </li>
    </ul>
    <!-- Top bar navigation  -->
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">


            <li class="has-dropdown">
                <a href="#">
                    <img src="{{ userprofile.picture }}" class="profilepic" alt=""/>
                    {{ userprofile.name }}</a>
                <ul class="dropdown">
                    <li><a href="/#/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
    <!-- END Top bar navigation   END-->

        <!-- Dropdown for choosing profile  -->
    <div class="large-12 large-centered">

        <div class="settings">

            <h2 class="text-center">Choose profile</h2>
            <div class="row text-center">
                <div class="large-3 columns  ">
                    <!-- empty -->
                </div>
                <div class="large-3 columns  large-offset-3">
                    <input type="text" placeholder="From date (default: 30 days ago)" class="date" ui-date-format="yy-mm-dd" ui-date  ng-model="dateFrom">
                     <!--<label for="dateFrom">From:</label>-->
                     <!--<input type="date" ng-model="dateFrom" id="dateFrom">-->
                </div>
                <div class="large-3 columns ">
                    <input  type="text" placeholder="End date (default: today)" class="date" ui-date-format="yy-mm-dd" ui-date  ng-model="dateTo">
                </div>

                <div class="large-3 columns ">
                    <!-- empty -->
                </div>
            </div>

            <div  class="row">
                <div class="large-6 columns large-offset-3">
                    <select ng-model="selectedProfile"  ng-options="item.id as item.name for item in profiles">
                        <option value="">Select Profile</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns large-offset-5 ">
                    <button ng-click="fetchReports()" class="button large-2 columns">Insight this</button>
                </div>
            </div>

        </div>

        <div class="large-6 large-centered columns">
            <i ng-click="settingsToggler()" class="fa fa-chevron-down big-icon center"></i>
        </div>
    </div>


<!-- END Dropdown for choosing profile   END-->


<div class="row">

        <div class="row" ng-show="profile">
            <div class="large-12 profile-heading text-center">
                <h2 class="text-center large-centered large-4 columns">Insights on</h2>
                <h3 class="text-center"> {{ profile.websiteUrl }}</h3>
                <span class="date-from">{{ dateFrom }} - </span>
                <span class="date-to">{{ dateTo }}</span>
            </div>

          <div class="large-12 columns">

            <div class="row">
                <ul class="small-block-grid-3 large-centered small-centered">
                    <li><p class="text-center stats-numbers orange">{{ visits }}</p><p class="text-center stats-text ">Total Visits</p></li>
                    <li><p class="text-center stats-numbers blue">{{ visitors }}</p><p class="text-center stats-text ">Unique Visits</p></li>
                    <li><p class="text-center stats-numbers green">{{ pageViews }}</p><p class="text-center stats-text ">Total Pageviews</p></li>
                </ul>
                <hr/>


            </div>
                <div class="large-6 columns left">

                    <div ng-show="errorShow" class="large-12 large-centered errorbox">

                        <ul>
                            <strong>Seems to be something wrong with:</strong>
                            <li class="error" ng-repeat="error in errors(errorList)">
                                {{ error }}
                            </li>
                        </ul>

                    </div>
                    <div chart="chart source large-12 large-centered">
                        <h3 class="text-center">Social Impact</h3>


                        <nvd3-pie-chart
                                data="social"
                                id="social"
                                width="350"
                                height="350"
                                x="getX"
                                y="getY"
                                color="getColor"
                                donut="true"
                                donutRatio="0.3"
                                tooltips="true"
                                noData="No records where found :("
                                showLabels="true"
                                labelType="value"
                                tooltips="true"
                                showLegend="true"
                                donutLabelsOutside="true"
                                legendColor="getColor">

                            <svg></svg>
                        </nvd3-pie-chart>
                    </div>

                </div>
                <div class="large-6 columns right">
                    <div class="large-12 large-centered alert">
                        {{ social.error }}
                    </div>
                    <div chart="chart source large-12 large-centered">
                        <h3 class="text-center" >Top Sources</h3>
                        <nvd3-pie-chart
                                data="source"
                                id="source"
                                width="350"
                                height="350"
                                x="getX"
                                y="getY"
                                color="getColor"
                                donut="true"
                                donutRatio="0.3"
                                noData="No records where found :("
                                showLabels="true"
                                labelType="percent"
                                showLegend="true"
                                tooltips="true"
                                donutLabelsOutside="true"
                                legendColor="getColor">

                            <svg></svg>
                        </nvd3-pie-chart>
                    </div>

                 </div>
            </div>
        </div>
</div>
<div ng-if="loading" class="loader">
    <div class="loading"></div>
</div>
<div ng-show="sessionTimeOut" class="loginbox text-center">
    <h2>You need to log in again!</h2>
    <a href="/#/" class="button">Log in!</a>
</div>
<div ng-show="responseError" class="loginbox text-center">
    <h2>{{ errorMsg }}</h2>
    <a href="/#/" class="button" ng-click="responseError = false">OK</a>
</div>
