html {
  height: 100%;
  min-height: 100%; }

body {
  background: white;
  margin: 0;
  padding: 0;
  min-height: 100%; }

header {
  text-align: center;
  color: #3a4145; }
  header h1 {
    padding: 15px;
    margin: 0;
    font-size: 80px; }
  header img {
    display: block;
    margin: 0 auto; }
  header span.google-login {
    padding: 1.25em;
    display: block;
    font-style: italic; }
  header .inner {
    margin-top: 15%;
    margin-bottom: 5%;
    border-bottom: 1px; }

.profilepic {
  height: 30px;
  vertical-align: middle;
  margin-right: 15px; }

.btn-naked {
  background: none;
  border: none; }

.has-dropdown:hover > .dropdown {
  display: block; }

.dropdown li a {
  text-align: center; }


ul.chart-data {
  height: 300px;
  -ms-word-break: break-all;
  word-break: break-all; }
  ul.chart-data li {
    list-style-type: none; }

.push-down {
  margin-top: 25%;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s; }


#social svg, #source svg {
  display: block;
  margin: 0 auto; }

.stats-numbers {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 200;
  padding: 0;
  margin: 0; }

.stats-text {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0; }

.nv-legendWrap circle {
  display: inline-block;
  height: 200px;
  width: 200px; }

text.nv-legend-text {
  width: 20px;
  display: inline-block; }

.green {
  color: #69db45; }

.orange {
  color: #f7464a; }

.blue {
  color: #449bc8; }

.center {
  width: 50px;
  margin: 0 auto;
  display: block !important; }

.big-icon {
  font-size: 4em;
  color: #333333;
  opacity: 0.3;
  margin-top: -30px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s; }
  .big-icon:hover {
    margin-top: -25px;
    opacity: 1;
    cursor: pointer; }

.settings {
  position: relative;
  z-index: 8;
  background: #f5d76e;
  height: 330px;
  display: block;
  margin-top: 0;
  padding: 0; }
  .settings select {
    height: 3em; }
  .settings label {
    color: white; }
  .settings h2 {
    color: white;
    font-size: 3em;
    padding: 20px;
    margin-top: 0; }

.show {
  display: block !important; }

.profile-heading {
  padding: 40px; }
  .profile-heading h3 {
    text-decoration: dashed; }
  .profile-heading span.date-from:before {
    display: block;
    content: "Between";
    color: lightgrey; }

.blur {
  -webkit-filter: blur(3px); }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scaleX(0); }

  55% {
    -webkit-transform: scaleY(1); }

  80% {
    -webkit-transform: scaleX(1); }

  95% {
    -webkit-transform: scaleY(0); }

  100% {
    -webkit-transform: scaleX(1); } }

@-moz-keyframes fadeIn {
  0% {
    -moz-transform: scaleX(0); }

  55% {
    -moz-transform: scaleY(1); }

  80% {
    -moz-transform: scaleX(1); }

  95% {
    -moz-transform: scaleY(0); }

  100% {
    -moz-transform: scaleX(1); } }

@-o-keyframes fadeIn {
  0% {
    -o-transform: scaleX(0); }

  55% {
    -o-transform: scaleY(1); }

  80% {
    -o-transform: scaleX(1); }

  95% {
    -o-transform: scaleY(0); }

  100% {
    -o-transform: scaleX(1); } }

@keyframes fadeIn {
  0% {
    transform: scaleX(0); }

  55% {
    transform: scaleY(1); }

  80% {
    transform: scaleX(1); }

  95% {
    transform: scaleY(0); }

  100% {
    transform: scaleX(1); } }

.top-bar {
  position: relative;
  z-index: 10; }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ceedb8;
  opacity: 1;
  z-index: 4;
  -webkit-transition: all 0.6s ease-in-out-back;
  -moz-transition: all 0.6s ease-in-out-back;
  transition: all 0.6s ease-in-out-back; }

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  border: 15px solid indianred;
  border-radius: 100%;
  -webkit-animation: fadeIn 1s linear infinite alternate;
  z-index: 5; }

.button {
  background: #df4848 !important; }
  .button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #ef4c4c !important; }

div.errorbox {
  color: #d4081a;
  border: 1px dashed #dadada;
  padding: 20px; }
  div.errorbox:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fafafa; }
  div.errorbox ul {
    list-style-type: circle; }

.loginbox {
  background: #dadada;
  padding: 50px;
  border: 1px solid #fafafa;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -30px;
  width: 500px;
  height: 300px;
  z-index: 99999; }

.date {
  margin-bottom: 20px; }
