* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f1f1f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%; }

header {
  background: url("../images/backgrounds/04.jpg") center;
  text-align: center;
  color: #3a4145; }
  header h1 {
    padding: 15px;
    margin: 0;
    font-size: 5em; }
  header img {
    display: block;
    margin: 0 auto; }
  header span.google-login {
    padding: 1.25em;
    display: block;
    font-style: italic; }
  header .inner {
    margin-top: 15%;
    margin-bottom: 5%; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.btn-naked {
  background: none;
  border: none; }
