@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "../bower_components/neat/app/assets/stylesheets/_neat";

body {
  background: #f1f1f1;
  font-family: $helvetica;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

header {
  background: url('../images/backgrounds/04.jpg') center;
  text-align: center;
  color: #3a4145;
  h1 {
    padding: 15px;
    margin: 0;
    font-size: em(80);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  span.google-login {
    padding: em(20);
    display: block;
    font-style: italic;
  }
  .inner {
    margin-top: 15%;
    margin-bottom: 5%;
  }
}

.container {
  @include outer-container;
}

.btn-naked {
  background: none;
  border: none;
}

